.home__header {
  width: 100%;
  min-height: 70dvh;
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  padding: 13px 6px 0 6px;
  border-bottom: 1px solid var(--color_secondary);
  border-radius: var(--padding_boxes);
}
.home__header__h1 {
  color: var(--color_accent);
  pointer-events: none;
}
.home__header__ul {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;

  & > li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
.home__header__btn {
  color: var(--color_secondary_text);
  display: flex;
  align-items: self-end;
  gap: 2px;
  box-shadow: 0 0 0 transparent;
  border-radius: var(--border_size);
  padding: 2px;
  transition: box-shadow 0.1s ease-in-out;
  &:hover {
    box-shadow: 0 4px 2px var(--color_secondary);
  }
  &:active {
    box-shadow: 0 2px 2px var(--color_secondary);
  }
}
.home__header__btn--session {
  display: flex;
  background: none;
  border: 1px solid var(--color_accent_light);
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--color_accent);
  transition: box-shadow 0.2s ease-in;

  &:hover {
    box-shadow: 0 4px 5px var(--color_accent);
  }
  &:active {
    box-shadow: 0 1px 5px var(--color_accent);
  }

  & > img {
    aspect-ratio: 4 / 4;
    object-fit: cover;
    object-position: center;
  }
}
.home__btn--add-post {
  display: flex;
  justify-content: center;
  border: 3px solid var(--color_accent);
  background-color: var(--color_accent_light);
  border-radius: 20%;
  padding: 10px 25px;
  transition: transform 0.2s ease-out;
  color: var(--color_secondary_text);

  &:hover {
    transform: scale(0.97);
  }
}
