---
import Layout from "@layout";
import { authStore } from "@stores/auth";
import PostCard from "@components/post-card.astro";
import Header from "@components/header.astro";
import BubblePlus from "@icons/bubble-plus.astro";
import ApiFn from "@services/api";
import IconLeft from "@icons/toggle-left.astro";

if (!Astro.cookies.get("session")) {
  console.log(Astro.cookies.get("cookie"), "/");
  authStore.set({
    userLogged: null,
    errors: { message: "Session expired!" },
  });
  return Astro.redirect("/login");
}

const { userLogged } = authStore.get();

const posts = await ApiFn(Astro.url.origin)
  .getPosts(15)
  .catch((err) => {
    console.log(err);
    return [];
  });
---

<Layout page="Home" description="">
  <section class="home">
    <Header />

    <div class="home__container">
      <ul>
        <li>
          <a href=`/settings/${userLogged?._id}`>Settings</a>
        </li>
        <li>
          <button id="theme-btn">
            <IconLeft />
          </button>
        </li>
        <li></li>
      </ul>

      <div class="home__container--posts">
        {
          posts?.length !== 0 ? (
            posts.map((post) => <PostCard post={post} />)
          ) : (
            <span class="home__container--alert">There is no news here!</span>
          )
        }

        <a
          href="/post/add"
          class="home__btn--add-post"
          title="Share how your feels today!"
        >
          <BubblePlus />
        </a>
      </div>
    </div>
  </section>
</Layout>

<script>
  const $themeBtn = document.querySelector("#theme-btn");
  const $body = document.querySelector("body");
  $themeBtn.addEventListener("click", () => {
    const themeSaved = localStorage.getItem("theme");

    if (!themeSaved) {
      const theme = "dark";
      $body.style.backgroundColor = "#111";
      $body.style.color = "#fff";
      return localStorage.setItem("theme", theme);
    }

    if (themeSaved === "light") {
      const theme = "dark";
      $body.style.backgroundColor = "#111";
      $body.style.color = "#fff";

      return localStorage.setItem("theme", theme);
    }

    if (themeSaved === "dark") {
      const theme = "light";
      $body.style.backgroundColor = "#fff";
      $body.style.color = "#111";

      return localStorage.setItem("theme", theme);
    }
  });
</script>
<style>
  .home {
    position: relative;
    min-height: 100dvh;
    display: flex;
    flex-flow: column;
  }

  .home__container {
    display: flex;
  }
  .home__container--posts {
    position: relative;
    flex: 1;
    max-width: calc(var(--max_w) - 200px);
    width: 100%;
    height: calc(100dvh - 66px);
    margin: 0 auto;
    overflow-y: scroll;
    border-left: 1px solid var(--color_secondary);
    border-right: 1px solid var(--color_secondary);
    text-align: center;
    &::-webkit-scrollbar {
      display: none;
    }

    .home__container--alert {
      font-size: xx-large;
    }
  }

  .home__btn--add-post {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 80px;
    max-width: 80px;
    display: flex;
    justify-content: center;
    bottom: 10%;
    right: 5%;
    border: 3px solid var(--color_accent);
    background-color: var(--color_accent_light);
    border-radius: 100%;
    box-shadow: inset 0 0 8px transparent;
    transition: box-shadow 0.2s ease-out;
    color: var(--color_secondary_text);
  }
</style>
