---
import Layout from "@layout";
import { authStore } from "@stores/auth";
import PostCard from "@components/post-card.astro";
import ApiFn from "@services/api";
import SeeMoreBtn from "@components/react/see-more-btn";
import { postsStore } from "@stores/posts";
import { COOKIE } from "@const";

if (!Astro.cookies.get(COOKIE.name) || authStore.get().userLogged === null) {
  authStore.set({
    userLogged: null,
    errors: { message: "Session expired!" },
  });
  postsStore.set([]);
  return Astro.redirect("/login");
}

// CARGAR NUEVOS POSTEOS CUANDO EL USUARIO PRESIONA SEE MORE.
if (Astro.request.method === "POST") {
  const posts = postsStore.get();
  const newPosts = await ApiFn(Astro.url.origin).getPosts(20);


  postsStore.set(posts.length > 100 ? [...newPosts] : [...posts, ...newPosts]);
}

const posts = await ApiFn(Astro.url.origin).getPosts(20);

---

<Layout page="Home" description="">
  <section class="home">
    <div class="home__container--posts">
      {
        posts?.length !== 0 ? (
          posts.map((post) => <PostCard post={post} />)
        ) : (
          <span class="home__container--alert">There is no news here!</span>
        )
      }
    </div>

    <!-- BOTÓN DINÁMICO PARA VER POSTEOS -->
    <SeeMoreBtn origin={Astro.url.origin} client:visible />
  </section>
</Layout>
<style>
  .home {
    position: relative;
    min-height: 100dvh;
  }

  .home__container--posts {
    position: relative;
    flex: 1;
    height: 100dvh;
    overflow-y: scroll;
    overflow-x: hidden;

    text-align: center;
    &::-webkit-scrollbar {
      display: none;
    }

    .home__container--alert {
      font-size: xx-large;
    }
  }
</style>
