---
import Layout from "src/layouts/Layout.astro";
import ImageSelector from "@components/react/post-image-selector";
import { authStore } from "@stores/auth";
import ApiFunctions from "@services/api";
import { postsStore } from "@stores/posts";
import ErrorCard from "@components/react/error-card";
import SubmitBtn from "@components/react/submit-btn";

if (!Astro.cookies.get("session")) return Astro.redirect("/login");

const { userLogged } = authStore.get();

let errors = null;
if (Astro.request.method === "POST") {
  const form = (await Astro.request.formData()) as FormData;
  form.append("userId", userLogged?._id);

  const { ok, data, error } = await ApiFunctions(Astro.url.origin).addPost(
    form
  );

  if (ok) {
    postsStore.set([data, ...postsStore.get()]);
    return Astro.redirect("/");
  }

  errors = error;
}

---

<Layout
  page=`Share everithing ${userLogged?.name}!`
  description="Add post on Ask! Fast, secure and private!"
>
  <section class="add-post__section">
    <form
      class="add-post__form"
      method="post"
      enctype="multipart/form-data"
      id="form"
    >
      <p class="add-post__p">How your feels today?</p>
      <div>
        <textarea
          name="content"
          id="content"
          class="add-post__textarea"
          placeholder="Share how you feel..."
          autofocus
        >
        </textarea>

        <ImageSelector client:visible />
      </div>

      <SubmitBtn child1="Share!" child2="Sending" client:visible />
    </form>

    {errors !== null && <ErrorCard error={errors} client:visible />}
  </section>
</Layout>

<style>
  .add-post__section {
    position: relative;
    max-width: calc(var(--max_w) - 200px);
    min-height: 100dvh;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-left: 1px solid var(--color_secondary);
    border-right: 1px solid var(--color_secondary);
    padding: 5em var(--padding_boxes);
  }
  .add-post__p {
    font-size: xx-large;
  }
  .add-post__textarea {
    width: 100%;
    min-height: 400px;
    resize: none;
    padding: var(--padding_boxes);
    border: none;
    margin-bottom: 10px;
  }
  .add-post__form {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;

    & > div {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 100%;
      border: 1px solid var(--color_secondary_text);
      padding: 0 0 10px 0;
    }
  }
</style>
