picture {
  position: relative;
  overflow: hidden;
  & > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    background: var(--color_secondary);
    padding: 10px;
    border: none;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    transition: opacity 0.2s ease, transform 0.2s ease;
    & > svg {
      transition: transform 0.2s ease-out;
    }
    &:active > svg {
      transform: rotate(-20deg);
    }
  }
  & > button:nth-child(3) {
    right: 0;
    &:active > svg {
      transform: rotate(20deg);
    }
  }
}
.container--length {
  position: absolute;
  z-index: 3;
  top: 2%;
  right: 2%;
  color: #fff;
  background-color: var(--color_accent);
  border-radius: 100%;
  display: grid;
  place-content: center;
  width: 100%;
  max-width: 38px;
  height: 38px;
}
#container {
  display: flex;
  flex-flow: row nowrap;
  transition: transform 0.2s ease-in-out;
  & > img {
    display: block;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}
