---
import { Image } from 'astro:assets';

interface Props {
  src: string;
  alt: string;
  ownerId: string;
}

const {
  src,
  alt,
  ownerId
} = Astro.props
const defaultSrc = 'https://res.cloudinary.com/dzmuriaby/image/upload/v1722284545/vwggt3mhaxyazwwqys97.svg'
---
<a href={`/users/${ownerId}`}>
  <Image
  src={src ?? defaultSrc}
  alt={alt}
  height={55}
  width={55}
  class='avatar'
  />
</a>
<style>
  .avatar {
    aspect-ratio: 4 / 4;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
  }
</style>