---
import { Image } from 'astro:assets';

interface Props {
  src: string;
  alt: string;
  ownerId: string;
}

const {
  src,
  alt,
  ownerId
} = Astro.props
---
<a href={`/profile/${ownerId}`}>
  <Image
  src={src}
  alt={alt}
  height={55}
  width={55}
  class='avatar'
  />
</a>
<style>
  .avatar {
    aspect-ratio: 4 / 4;
    object-fit: cover;
    object-position: center;
  }
</style>